.Rproj.user
.Rhistory
.RData
.Ruserdata
variant_browser.Rproj
html/00Index.html
html/R.css
shinythemes/
www/cerulean.min.css
www/materialize.min.css
data/
whatineedrn
www/darktheme_defunct.css
*.dcf
demodata/
dataprocessing/hg19.refGene.txt.gz
dataprocessing/hgnc_complete_set.txt
dataprocessing/refFlat.txt
dataprocessing/uniquegenes.txt
dataprocessing/varList.RData
dataprocessing/temp
dataprocessing/exomedata-200302
dataprocessing/newreftables-200302
dataprocessing/newreftables-maf00removed
data/FULL_EXOME_browser_try_1.txt
www/.vscode/settings.json
www/geneList-dummy.txt
www/geneList-real.txt
www/MTvarList.RData
www/rsID.List.RData
www/geneList.RData
data/varDat.hg19.RData
installed_old.rda
workspace/
sunburst.plot.test.R
dataprocessing/varDat.hg19.RData
dataprocessing/FULL_EXOME_browser_try_1.txt
dataprocessing/demo.data.nb.html
dataprocessing/demo.data.Rmd
dataprocessing/AAChange.Rmd
dataprocessing/AAChange.nb.html
dataprocessing/cohort_specific/all.tsv
dataprocessing/cohort_specific/chr1.tsv
dataprocessing/cohort_specific/chr10.tsv
dataprocessing/cohort_specific/chr11.tsv
dataprocessing/cohort_specific/chr12.tsv
dataprocessing/cohort_specific/chr13.tsv
dataprocessing/cohort_specific/chr14.tsv
dataprocessing/cohort_specific/chr15.tsv
dataprocessing/cohort_specific/chr16.tsv
dataprocessing/cohort_specific/chr17.tsv
dataprocessing/cohort_specific/chr18.tsv
dataprocessing/cohort_specific/chr19.tsv
dataprocessing/cohort_specific/chr2.tsv
dataprocessing/cohort_specific/chr20.tsv
dataprocessing/cohort_specific/chr21.tsv
dataprocessing/cohort_specific/chr3.tsv
dataprocessing/cohort_specific/chr4.tsv
dataprocessing/cohort_specific/chr5.tsv
dataprocessing/cohort_specific/chr6.tsv
dataprocessing/cohort_specific/chr7.tsv
dataprocessing/cohort_specific/chr8.tsv
dataprocessing/cohort_specific/chr9.tsv
test.RData
