.Rproj.user
.Rhistory
.RData
.Ruserdata
html/00Index.html
html/R.css
shinythemes/css/cerulean.min.css
shinythemes/css/cosmo.min.css
shinythemes/css/cyborg.min.css
shinythemes/css/flatly.min.css
shinythemes/css/journal.min.css
shinythemes/css/lumen.min.css
shinythemes/css/paper.min.css
shinythemes/css/readable.min.css
shinythemes/css/sandstone.min.css
shinythemes/css/simplex.min.css
shinythemes/css/slate.min.css
shinythemes/css/spacelab.min.css
shinythemes/css/superhero.min.css
shinythemes/css/united.min.css
shinythemes/css/darkly.min.css
shinythemes/css/yeti.min.css
shinythemes/fonts/glyphicons-halflings-regular.eot
shinythemes/fonts/glyphicons-halflings-regular.svg
shinythemes/fonts/glyphicons-halflings-regular.ttf
shinythemes/fonts/glyphicons-halflings-regular.woff
shinythemes/fonts/glyphicons-halflings-regular.woff2
shinythemes/fonts/Lato_300.ttf
shinythemes/fonts/Lato_400.ttf
shinythemes/fonts/Lato_400italic.ttf
shinythemes/fonts/Lato_700.ttf
shinythemes/fonts/News_Cycle_400.ttf
shinythemes/fonts/News_Cycle_700.ttf
shinythemes/fonts/Open_Sans_300.ttf
shinythemes/fonts/Open_Sans_300italic.ttf
shinythemes/fonts/Open_Sans_400.ttf
shinythemes/fonts/Open_Sans_400italic.ttf
shinythemes/fonts/Open_Sans_700.ttf
shinythemes/fonts/Open_Sans_700italic.ttf
shinythemes/fonts/Raleway_400.ttf
shinythemes/fonts/Raleway_700.ttf
shinythemes/fonts/README.md
shinythemes/fonts/Roboto_300.ttf
shinythemes/fonts/Roboto_400.ttf
shinythemes/fonts/Roboto_500.ttf
shinythemes/fonts/Roboto_700.ttf
shinythemes/fonts/Source_Sans_Pro_300.ttf
shinythemes/fonts/Source_Sans_Pro_400.ttf
shinythemes/fonts/Source_Sans_Pro_400italic.ttf
shinythemes/fonts/Source_Sans_Pro_700.ttf
shinythemes/fonts/Ubuntu_400.ttf
www/cerulean.min.css
www/materialize.min.css
varTab/lrrk2-bak.txt
varTab/lrrk2-sample.txt
varTab/lrrk2.txt
varTab/lrrk2.txt
varTab/lrrk2.txt
varTab/lrrk2.txt
whatineedrn
www/darktheme_defunct.css
varTab/lrrk2-old.txt
varTab/snca.txt
varTab/chr9.RData
varTab/chr8.RData
varTab/chr7.RData
varTab/chr6.RData
varTab/chr5.RData
varTab/chr4.RData
varTab/chr3.RData
varTab/chr22.RData
varTab/chr21.RData
varTab/chr20.RData
varTab/chr2.RData
varTab/chr19.RData
varTab/chr18.RData
varTab/chr17.RData
varTab/chr16.RData
varTab/chr15.RData
varTab/chr14.RData
varTab/chr13.RData
varTab/chr12.RData
varTab/chr11.RData
varTab/chr10.RData
varTab/chr1.RData
*.dcf
dataprocessing/hg19.refGene.txt.gz
dataprocessing/hgnc_complete_set.txt
dataprocessing/refFlat.txt
dataprocessing/uniquegenes.txt
dataprocessing/varList.RData
data/FULL_EXOME_browser_try_1.txt
www/.vscode/settings.json
www/geneList-dummy.txt
www/geneList-real.txt
www/MTvarList.RData
www/rsID.List.RData
www/geneList.RData
dataprocessing/dataprocessing.nb.html
dataprocessing/dataprocessing.nb.html
dataprocessing/dataprocessing.nb.html
data/varDat.hg19.RData
installed_old.rda
dataprocessing/dataprocessing.nb.html
