.Rproj.user
.Rhistory
.RData
.Ruserdata
html/00Index.html
html/R.css
shinythemes/
www/cerulean.min.css
www/materialize.min.css
data/
whatineedrn
www/darktheme_defunct.css
*.dcf
demodata/
dataprocessing/hg19.refGene.txt.gz
dataprocessing/hgnc_complete_set.txt
dataprocessing/refFlat.txt
dataprocessing/uniquegenes.txt
dataprocessing/varList.RData
dataprocessing/temp
dataprocessing/exomedata-200302
dataprocessing/newreftables-200302
dataprocessing/newreftables-maf00removed
data/FULL_EXOME_browser_try_1.txt
www/.vscode/settings.json
www/geneList-dummy.txt
www/geneList-real.txt
www/MTvarList.RData
www/rsID.List.RData
www/geneList.RData
data/varDat.hg19.RData
installed_old.rda
workspace/
sunburst.plot.test.R
dataprocessing/varDat.hg19.RData
dataprocessing/FULL_EXOME_browser_try_1.txt
dataprocessing/demo.data.nb.html
dataprocessing/demo.data.Rmd
dataprocessing/AAChange.Rmd
dataprocessing/AAChange.nb.html
