/* Shiny-Dashboard Overrides*/
.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color:#121212;
}

.skin-black .main-header>.logo {
    background-color: rgba(56, 56, 56);
}

.skin-black .main-header .navbar {
    background-color: rgba(56, 56, 56);
}

.box {
    background-color: rgba(255, 255, 255, 0.16);
    color: white;
}

.box-header>.box-title {
    color: white;
  }

.dataTables_length > label {
    color: white;
}

.dataTables_length > label > select {
    color: black;
}

label[for=minisearchBar] {
    color: white;
}

.dataTables_filter label {
    color: white;
  }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color:rgb(169, 169, 169)!important
  }

.ellipsis {
    color:rgb(169, 169, 169);
}

input[type=search] {
    background-color:rgba(56, 56, 56);
    color: white;
  }

input#minisearchBar_Text {
    background-color: rgba(56, 56, 56);
    color:white;
  }
a {
    color: #ffaf24;
  }

.wrapper .main-header .logo {
  height: 87.5px;
}
 
.content-wrapper, .right-side {
    background-color: #121212
}

/* Shiny Widget overrides*/
.dropdown-menu.dropdown-menu-right.dropdown-shinyWidgets {
    background-color: rgba(56, 56, 56);
    border-color: rgba(56, 56, 56);
}
.sw-show.sw-dropdown-content {
  background-color: rgba(56, 56, 56);
  border-color: rgba(56, 56, 56);
}
.sw-dropdown-in {
  background-color: rgba(56, 56, 56);
  border-color: rgba(56, 56, 56);
}
.bttn-jelly.bttn-primary{
  background-color: #ffaf24;
  color:rgba(56, 56, 56);
}

/* Dark theme switch label*/
.state label span {
    color:#fff;
}

/* Table */
.dataTables_empty {
  background-color:#b1b1b1;
  color:white;
}