/*Search Result*/
#searchResults {
  background-color:#fff;
  color: black;
}

/* Modal */
.modal-content {
  background-color:#fff;
  color: black;
}

/* Shiny-Dashboard Overrides*/
.skin-black .left-side, .skin-black .wrapper {
  background-color:#ecf0f5;
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
  background: #fff;
  color: #999;
}

.skin-black .main-header .navbar>.sidebar-toggle {
  color: #333;
  border-right: 1px solid #eee;
}

.skin-black .main-header .logo, .skin-black .main-sidebar, .skin-black .main-header .navbar {
    background-color: #fff;
    border-right: 1px solid #eee;
}

.box {
    background-color:#fff;
    color: black;
}

.box.box-primary {
    background-color:rgb(245, 245, 245);
}

.box-header .box-title {
  color: black;
}

a {
  color: #3c8dbc;
}

.ellipsis {
  color:#333;
}
.wrapper .main-header .logo {
  /*height: 87.5px;*/
  height:100%;
  background-color:#fff
}

.content-wrapper, .right-side {
  background-color: #ecf0f5
}

/* Data Tables */
.dataTables_length label {
  color: black;
}

.dataTables_length label select {
  color: black;
}

.dataTables_filter label {
  color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color:#333!important
}

input[type=search] {
  background-color:#fff;
  color:black;
}

.dataTables_empty {
  background-color:rgba(249, 249, 249);
  color:black;
}

.dataTables_wrapper .dataTables_info[role=status] {
  color:#333;
}

/* Search Bar */
label[for=minisearchBar] {
  color: black;
}

input#minisearchBar_text {
  background-color: #fff;
  color:black;
}

/* Shiny Widget overrides*/
.dropdown-menu.dropdown-menu-right.dropdown-shinyWidgets {
    background-color: #ecf0f5;
    border-color:#eee;
}
.sw-show.sw-dropdown-content {
  background-color: #ecf0f5;
  border-color:#eee;
}
.sw-dropdown-in {
  background-color: #ecf0f5;
  border-color:#eee;
}
.bttn-jelly.bttn-primary{
  background-color: #1d89ff;
  color:#fff;
}

/* Dark theme switch label*/
.state label span {
    color:black;
}

/* Layout Switch */
.bootstrap-switch .bootstrap-switch-label {
  background-color:#eee;
  color:black;
}