/*Plotly graph*/
.plot-container.plotly {
   padding-left:20px;
   padding-right:20px;
}

/* Draggable variant box*/
#draggable-top {
   z-index:1500;
}

/*Variant name overflow*/
#variantName {
   width:100%;
   overflow-wrap: break-word;
  /*display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
#varSharePanel {
   z-index:1501;
}
/* Rest */
#fixedDLButton{
  right:25px;
  bottom:25px;
  position:fixed;
  cursor:inherit;
  z-index:3;
}

#startLogo {
  display:block;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 600px;
}

 #wrapperlogo {
   display:inline-block;
   padding-top:3px;
  height:63px;
  width:162px;
  margin:4px 5px 10px 0px;
 }
 
 /div#wrapperlogo.shiny-html-output.shiny-bound-output{
   width:170px;
 }
 .searchbar {
   display:block;
   margin-left: auto;
   margin-right: auto;
   width:75%;
 }
 
 .center {
   display:block;
   margin-left: auto;
   margin-right: auto;
   width:50%;
 }
 
 #top-row {
   /*
   text-align:right;
   margin-right:1%;
   margin-top:1%;
   margin-bottom:1%;
   font-weight:bold;
   */
   font-size:20px;
   display:inline-block;
 }
 
 #mainPageLink {
   text-align:left;
   margin:auto;
   //margin-left:1%;
   //margin-top:1%;
   //margin-bottom:1%;
 }
 
hr {
      display: block;
      position: relative;
      padding: 0;
      margin: 8px auto;
      height: 0;
      width: 100%;
      max-height: 0;
      font-size: 1px;
      line-height: 0;
      clear: both;
      border: none;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #e0e0e0;
}

.paddedrow {
 padding-top:30px;
 padding-bottom:30px;
}

#aggregateVariantTable {
 float:right;
}

.form-group .shiny-input-container {
 padding-bottom:0px;
}

.content {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#searchResults {
   padding-bottom: 25px;
   width:100%;
}

/*DT buttons*/
button.dt-button.buttons-html5 {
   background-color: #f4f4f4;
   color: #444;
   border-color: #ddd;
}
button.dt-button.buttons-print {
   background-color: #f4f4f4;
   color: #444;
   border-color: #ddd;
}